<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <import resource="classpath*:rabbitMqConfig.xml"/>

    <!-- 扫描指定包路径，将包下面所有带有spring相关注解的类注册为bean -->
    <context:component-scan base-package="com.neotao.*"/>

    <!-- 启用注解自动装配 -->
    <context:annotation-config/>

    <!-- spring管理 -->
    <context:spring-configured/>
</beans>
